<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.phoenix.denomcalc">

    <application
        android:name=".DenomCalcApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="in.phoenix.denomcalc.ui.home.MainActivity"
                  android:screenOrientation="userPortrait"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="in.phoenix.denomcalc.ui.stored.StoredActivity"
            android:screenOrientation="userPortrait"
            android:parentActivityName=".ui.home.MainActivity"
                  android:exported="false">
        </activity>
    </application>

</manifest>